<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Filemanager</title>
    <link href="../../static/css/style.css" />
  </head>

  <body>
    <div id="header">
      <a href="/upload"><h2>UPLOAD</h2></a>
      <a href="/filemanager"><h2>FILEMANAGER</h2></a>
    </div>
    <div id="content">{{{body}}}</div>

  </body>

</html>