<div id="left">
    <h2>{{leftContent.0.text}}</h2>
</div>
<div id="main">
    <form  enctype="multipart/form-data" method="POST" action="/filemanager">
        <input type="file" id="files" name="files" multiple>
        <input type="submit">
    </form>
    
</div>